<form [formGroup]="stockDetailsForm" *ngIf="!isLoading">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Stock Name</label><br />
      <select formControlName="stockId" id="stockId">
        <option value="" selected disabled>Please select A Stock</option>
        <option *ngFor="let s of stocks" [value]="s._id">{{ s.name }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label>Transaction Type</label><br />
      <select formControlName="transactionType" id="transactionType">
        <option value="" selected disabled>
          Please select a transaction Type
        </option>
        <option value="buy">Buy</option>
        <option value="sale">Sale</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Quantity</label>
      <input
        type="number"
        class="form-control form-control-lg"
        placeholder="Quantity"
        formControlName="quantity"
      />
    </div>
    <div class="form-group col-md-6">
      <label>Amount</label>
      <input
        class="form-control form-control-lg"
        placeholder="Amount"
        formControlName="amount"
      />
    </div>
    <div class="form-group col-md-6">
      <label>Tranaction Date </label>
      <input
        class="form-control form-control-lg"
        placeholder="MM/DD/YYYY"
        type="date"
        formControlName="transactionDate"
      />
    </div>
  </div>

  <div class="form-group submit-button">
    <button class="btn btn-info btn-lg btn-block" (click)="submit()">
      SUBMIT
    </button>
  </div>
</form>
>
